homeassistant:
  name: !secret home_name
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: Europe/London
lovelace:
# camera: !include integrations/camera.yaml
calendar: !include integrations/calendar.yaml
api:
device_tracker: !include integrations/device_tracker.yaml
group: !include groups.yaml
hive: !include integrations/hive.yaml
home_connect: !include integrations/homeconnect.yaml
homekit: !include integrations/homekit.yaml
http: !include integrations/http.yaml
logbook:
webostv: !include integrations/media/lg_tv.yaml
notify:
wake_on_lan:
media_player:
  - !include integrations/media/skyq.yaml
  - !include integrations/media/skyq_bedroom.yaml
  - !include integrations/media/skyq_conservatory.yaml
  - !include integrations/media/yamaha_amplifier.yaml
mqtt: !include integrations/mqtt.yaml
scene: !include scenes.yaml
sun:
frontend:
  themes: !include_dir_merge_named themes
system_health:
tado: !include integrations/tado.yaml
discovery:
light: !include integrations/light.yaml
zeroconf:
sensor:
  - platform: systemmonitor
    resources: !include integrations/system_monitor.yaml
  - !include integrations/sense_hat.yaml
  - !include integrations/sense_hat_template.yaml
automation: !include automation.yaml
alexa: !include integrations/alexa.yaml
logger:
  default: info
