homeassistant:
  name: !secret home_name
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: metric
  time_zone: Europe/London
lovelace:
  mode: yaml
api:
default_config:
device_tracker: !include integrations/device_tracker.yaml
group: !include groups.yaml
hive: !include integrations/hive.yaml
homeconnect: !include integrations/homeconnect.yaml
homekit: !include integrations/homekit.yaml
http: !include integrations/http.yaml
ios:
logbook:
media_player:
  - !include integrations/media/lg_tv.yaml
  - !include integrations/media/skyq.yaml
  - !include integrations/media/yamaha_amplifier.yaml
mqtt: !include integrations/mqtt.yaml
scene: !include scenes.yaml
sun:
frontend:
system_health:
tado: !include integrations/tado.yaml
tuya: !include integrations/tuya.yaml
